<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <div style="text-align: center;">
      <h1>Welcome Admin</h1>

      <button><a href="/admin/AddEmployee">Add Employee</a></button>
      <br />
      <br />
      <button><a href="/admin/AllEmployeeList">All Employee List</a></button>

      <h2 style="text-align: left;">All Employees</h2>
      <table border="1">
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Designation</th>
        </tr>
        <% users.forEach((user) => { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.designation %></td>
        </tr>
        <% }) %>
      </table>
    </div>
    <br />
    <br />
    <form id="search" action="/admin/search">
      <input type="text" name="searchTerm" id="searchTerm" />
      <br />
      <button type="submit">Search</button>
    </form>
    <div id="result"></div>
  </body>

  <script>
    const search = document.getElementById('search');
    const result = document.getElementById('result');
    search.addEventListener('submit', (e) => {
      e.preventDefault();
      const searchTerm = document.getElementById('searchTerm');
      if (!searchTerm.value) {
        alert('enter username to search');
      } else {
        fetch('/admin/search', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ searchTerm: searchTerm.value }),
        })
          .then((res) => {
            return res.json();
          })
          .then((res) => {
            console.log(res);
            if (res.response === undefined || res.response.length == 0) {
              result.innerHTML = 'No result found';
            } else {
              const doc = '';
              res.response.forEach((user) => {
                doc += `<li> ${user.username} </li>`;
                doc += `<li> ${user.email} </li>`;
                doc += `<li> ${user.gender} </li>`;
              });
              doc = `<td> ${doc} </td>`;
              result.innerHTML = doc;
            }
          });
      }
    });
  </script>
</html>