<%- include('../partials/header') %>
<form method="POST">
    <fieldset>
        <legend>Login</legend>
        <input style="height: 3%;" name="username" type="text" placeholder="Enter Username"><br><br>
        <input style="height: 3%;" name="password" type="password" placeholder="Enter Password"><br><br>
        <a href=""><input style="height: 3%;" type="Submit" value="Login"></a>
    </fieldset>
</form>
<%- include('../partials/footer') %>